*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.top1{
    border: 1px solid black;
    height: 40px;
    width: 100%;
    background-color: #b70101;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h5{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Nav1{
    /* border: 2px solid black; */
    height: 730px;
    width: 100%;
}
.Nav01{
    /* border: 2px solid black; */
    height: 140px;
    width: 100%;
    position: absolute;
}
.Nav1 img{
    /* border: 2px solid black; */
    height: 730px;
    background-color: aqua;   
    width: 100%;
}
.Nav11{
    /* border: 2px solid black; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: absolute;
}

.Nav01:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.Nav11 input{
    height: 30px;
    width: 300px;
    font-size: 20px;
    border: none;
}

.Nav11 h1{
     padding-left: 300px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: black;
}
.Nav11 h1:hover{
      color:#b70101 ;
}
.Nav11 ul{
    list-style: none;
    padding-left: 580px;
    display: flex;
    gap: 30px;
    font-size: 20px;
    color: black;
}

.Nav12{
    /* border: 2px solid black; */
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    position: absolute;
    margin-top: 70px;
}

.Nav12 ul{
    list-style: none;
    padding-left: 300px;
    display: flex;
    gap: 50px;
    font-size: 18px;
    color: black;
}
.Nav2{
    /* border: 2px solid black; */
    height: 500px;
    width: 300%;
    position: absolute;
    margin-top: 140px;
    padding-left: 600px;
    padding-top: 150px;
}
.Nav02{
    /* border: 2px solid black; */
    height: 300px;
    width: 300px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 20px;
}
.Nav02 button{
    height: 40px;
    width: 200px;
}
.Nav02 h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Nav3{
    /* border: 2px solid black; */
    height: 150px;
    width: 100%;
    padding-top: 80px;
   color: rgb(228, 12, 12);
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Nav4{
    border: 2px solid black;
    height: 400px;
    width: 100%;
}
